:root {
  --primary-text-color: #fff;
  --secondary-text-color: #2e2f42;
  --title-text-color: #434455;
  --accent-color: #4d5ae5;
}

body {
  background-color: #fff;
  font-family: roboto, sans-serif;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* site nav */
.site-nav a {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  color: var(--secondary-text-color);
}
.contacts {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  text-decoration: none;
}
.logo-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: #4d5ae5;
  text-decoration: none;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: #2e2f42;
  text-decoration: none;
  margin-right: 77px;
}
.item {
  position: relative;
}
.menu-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link::after {
content: "";
display: inline-block;
position: absolute;
width: 100%;
height: 5px;
bottom: -24px;
left: 0;
background-color: #4D5AE5;
opacity: 0;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus {
  color: #4D5AE5;
}
.menu-link:hover::after,
.menu-link:focus::after {
  opacity: 1;
}
.main h1 {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  color: var(--primary-text-color);
  text-align: center;
}
.main {
  text-align: center;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.modal {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: row-reverse;
  
  width: 408px;
  height: 576px;

  background-color: #FCFCFC;
  border-radius: 4px;
}
.backdrop.is-hidden {
opacity: 0;
pointer-events: none;
visibility: hidden;
}
.modal-btn {
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 8px;
  margin-top: 24px;
  margin-right: 24px;
  
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.icon-close {
  display: block;
  
}
.overlay {
  padding-top: 192px;
  justify-content: center;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.navigation {
  display: flex;
}
.header {
  display: flex;
  align-items: center;

  padding-top: 24px;
  padding-bottom: 24px;

  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.contact {
  margin-left: auto;
}
.contacts + .contacts {
  margin-left: 40px;
}
.site-nav {
  display: flex;
}
.item + .item {
  margin-left: 40px;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 48px;
}

.about {
  display: flex;
}
.about li {
  width: 264px;
}
.about-item::before {
  display: block;
  content: "";
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}
.about-item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
  background-size: 60px 64px;
  background-repeat: no-repeat;
  background-position: center;
}
.about-item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
  background-size: 60px 64px;
  background-repeat: no-repeat;
  background-position: center;
}
.about-item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
  background-size: 60px 64px;
  background-repeat: no-repeat;
  background-position: center;
}
.about-item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
  background-size: 60px 64px;
  background-repeat: no-repeat;
  background-position: center;
}
.button-hero {
  width: 170px;
  height: 51px;
  left: 635px;
  top: 432px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  color: #ffffff;
  cursor: pointer;
}
.about-company {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.about li + li {
  margin-left: 24px;
}
.about-company h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--secondary-text-color);
}
.about-company p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-text-color);
}
.What-are-we-doing {
  text-align: center;
  padding-bottom: 120px;
}
.image {
  display: flex;
}

.image li + li {
  margin-left: 24px;
}
.What-are-we-doing h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  color: var(--secondary-text-color);
  margin: 0;
  margin-bottom: 72px;
}
.team {
  text-align: center;
  margin: 0;
  padding-top: 120px;
  background-color: #f4f4fd;
  padding-bottom: 120px;
}
.icon-link {
  display: flex;
  margin-top: 12px;
  
}
.icon-instagram {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-top: 28%;
  fill: #fff;
}
.instagram {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  margin-left: 16px;
}

.twitter {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  margin-left: 24px;
}
.icon-twitter {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-top: 28%;
  fill: #fff;
}
.facebook {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  margin-left: 24px;
}
.icon-facebook {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-top: 28%;
  fill: #fff;
}
.linkedin {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  margin-left: 24px;
}
.icon-linkedin {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-top: 28%;
  fill: #fff;
}
.link-list-footer {
  display: flex;
}
.instagramf {
  width: 100%;
  height: 100%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
}
.link-list-footer a {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.instagramf:hover,
.instagramf:focus {
  background-color: #31D0AA;
  border-radius: 50%;
  
}
.twitterf:hover,
.twitterf:focus {
  background-color: #31D0AA;
  border-radius: 50%;
}
.facebookf:hover,
.facebookf:focus {
  background-color: #31D0AA;
  border-radius: 50%;
}
.linkedinf:hover,
.linkedinf:focus {
  background-color: #31D0AA;
  border-radius: 50%;
}
 
.icon-instagramf {
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: #fff;
}
.icon-twitterf {
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: #fff;
}
.twitterf {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-left: 16px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
}
.facebookf {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-left: 16px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-facebookf {
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: #fff;
}
.linkedinf {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-left: 16px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-linkedinf {
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: #fff;
}
.team-list li + li {
  margin-left: 24px;
}
.team-list {
  display: flex;
}
.team-list li {
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
}
.container-team {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  color: var(--secondary-text-color);
  margin: 0;
  margin-bottom: 72px;
}
.team p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-text-color);
  margin: 0;
}
.team h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  margin: 0;
}
.footer p {
  font-size: 16px;
  line-height: 1.5;
  color: #e7e9fc;
  margin-top: 16px;
}
.customers {
  text-align: center;
  padding: 120px 0;
}
.customers h2 {
  margin: 0;
  margin-bottom: 72px;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  color: var(--secondary-text-color);
}
.brands {
  display: flex;
  display: inline-block;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.brands li {
  width: 168px;
  height: 88px;
  display: inline-block;
  margin-left: 24px;
}
.link-brand {
  border: 1px solid #8E8F99;
  display: block;
  width: 168px;
  height: 88px;
  border-radius: 4px;
  color: #8E8F99;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
}
.cust {
  margin-top: 10%;
  fill: currentColor;
  width: 104px;
  height: 56px;
  
}

.link-brand:hover,
.link-brand:focus {
  border: 1px solid #4D5AE5;
  color: #4D5AE5;
  
}


.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo-footer {
  text-decoration: none;
  margin-bottom: 16px;
}
.footer a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  color: #f4f4fd;
}
.footer p {
  width: 264px;
  margin-top: 16px;
}
.social-media {
  margin-left: 120px; 
}
.social-media h3{
  margin: 0;
  margin-bottom: 16px;
  color: #fff;
}
.link-footer {
  display: flex;
}
.radio-button {
  background-color: #f4f4fd;
  color: #4d5ae5;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  
  margin-left: 24px;
  align-items: flex-start;
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
}
.radio-button:hover,
.radio-button:focus {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-main li:hover,
.portfolio-main li:focus{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-link h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  margin: 0;
}
.portfolio-main li:hover .main-overlay {
  transform: translateY(0);
}
.portfolio-img {
  position: relative;
  width: 360px;
  height: 300px;
  overflow: hidden;
}
.main-overlay {
  position: absolute;
  width: 360px;
  height: 300px;
  background-color: rgba(77, 90, 229, 0.7);
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-text-color);
  margin: 0;
}
.portfolio-main a {
  text-decoration: none;
}
.radio-btn {
  display: flex;
  margin-bottom: 72px;
}
.main-content {
  margin: 0;
  padding: 0;
  padding-top: 96px;

  padding-bottom: 120px;
}
.btn {
  margin-left: 380px;
  margin-right: 380px;
  margin-top: 96px;
  margin-bottom: 72px;
  text-align: center;
}
.portfolio-main {
  display: flex;
  flex-wrap: wrap;
  
}

.portfolio-main li {
  width: 360px;
  margin-right: 24px;
  margin-bottom: 48px;
  border: 0.5px solid #F4F4FD;
}
.portfolio-main li:nth-child(3n) {
  margin-right: 0;
}
.portfolio-main li:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.about h3 {
  margin: 0;
}
.about p {
  margin: 0;
  margin-top: 8px;
}
.container-footer {
  display: flex;
  width: 1158px;
  padding-left: 15px;
  margin: 0 auto;
  padding-right: 15px;
}
.container-main {
  flex-wrap: wrap;
  width: 1158px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.container-content-main {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 15px;
  padding-right: 15px;
}
